* {
    font-family: "Segoe UI", serif;
    letter-spacing: .01vw;
}

.container_contact {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-image: url(../resources/contact-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
}

.body_contact {
    padding-top: 30vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2vw;
}

.contactUs_contact {
    background-color: black;
    width: 60vw;
    height: 60vh;
    border-radius: 4vw;
    display: flex;
    flex-direction: column;
    padding-inline: 3vw;
    padding-block: 6vh;
    box-sizing: border-box;
}

.platformsContainer_contact {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    align-items: center;
    height: 60vh;
    width: 12vh;
    border-radius: 100vh;
    background-color: black;
}

.contactImage_contact {
    height: 9vh;
    width: auto;
}

.contactButton_contact {
    background-color: #FFFFFF00;
    border-width: 0;
    height: 9vh;
    width: auto;
    padding: 0;
}

.contactButton_contact:hover {
    cursor: pointer;
    opacity: 70%;
}

.input_contact {
    outline-width: 0;
    border-width: 0;
    background-color: #FFFFFF00;
    letter-spacing: 0.001vw;
    font-size: .85vw;
    color: black;
    width: 100%;
    resize: none;
    padding: 0;
}

.contactColumn_contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    gap: 3vh;
}

.contactUsImage_contact {
    height: 33vh;
    width: 18vw;
}
