* {
    font-family: "Segoe UI", serif;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: #FFF;
}

.header {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    height: 8vw;
    width: 100vw;
    /*background-color: goldenrod;*/
    gap: 5vw;
    border-bottom-left-radius: 2vw;
    border-bottom-right-radius: 2vw;
}

.headerOptions {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    gap: 10vw;
}

.headerOption {
    font-size: min(2.5vw, 28px);
    color: #000;
    font-weight: 500;
}

.logoContainer {
    display: inline-block;
    overflow: hidden;
    border-bottom-left-radius: 2vw;
    border-bottom-right-radius: 2vw;
    max-height: 8vw;
    position: absolute;
    right: 4vw;
    top: 0;
}

.logo {
    max-height: 8vw;
    transform: scale(1.5);
}

.body {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFF;
}

.bodyText {
    font-size: min(2.5vw, 28px);
    color: #707070;
    font-weight: bold;
}

.eventButton {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.8vw;
    width: 11vw;
    background-color: #daa520;
    color: #FFFFFF;
    border: 1px solid #707070;
    border-radius: 1.4vw;
    margin-top: 2vw;
    font-size: 1.02vw;
    font-weight: bold;
    cursor: pointer;
}