* {
    font-family: "Segoe UI", serif;
    letter-spacing: .01vw;
}

.container_main {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    background-image: url(../resources/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
}

.body_title_main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.body_main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.bodyText_main {
    font-size: 1.4vw;
    color: #FFFFFF;
    font-weight: bold;
    -webkit-text-stroke: .05em black;
    text-align: center;
}

.eventButton_main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7vh;
    width: 11vw;
    background-color: #A79737;
    color: #FFFFFF;
    border: .05em solid #707070;
    border-radius: 1vw;
    margin-top: 4vh;
    font-size: 1vw;
    font-weight: bold;
    letter-spacing: 0.001vw;
    cursor: pointer;
}

.eventButton_main:hover {
    background-color: #c4a81a;
}

.contactUs_main {
    display: flex;
    color: #FFFFFF;
    -webkit-text-stroke: .05em black;
    font-size: 1.3vw;
    font-weight: bold;
    letter-spacing: .01vw;
}

.arrowsDown_main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: .8vh;
    height: 3vh;
    animation: bounce 1s infinite;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(1vh);
    }
    100% {
        transform: translateY(0);
    }
}

.footer_main {
    display: flex;
    height: 100%;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-end;
}

.extras_main {
    width: 40vw;
    height: 70vh;
    background-color: black;
    border-radius: 4vw;
    align-self: flex-end;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 1vh;
}

.extraList_main {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.contact_main {
    display: flex;
    flex-direction: row;
    width: 20vw;
    height: 9vh;
    background-color: black;
    border-radius: 20vw;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 1vh;
    margin-bottom: 1vh;
}

.contactImage_main {
    height: auto;
    width: 3vw;
}

.contactButton_main {
    background-color: #FFFFFF00;
    border-width: 0;
    height: auto;
    width: 4vw;
    max-width: 4vw;
    padding: 0;
}

.contactButton_main:hover {
    cursor: pointer;
    opacity: 70%;
}
