.topBar_main_m {
    background-color: black;
    height: 75px;
    width: 100vw;
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 40px;
    align-items: center;
}

.drawerButton_main_m {
    background-color: #FFFFFF00;
    border-width: 0;
    padding: 0;
    margin-left: 6vw;
}

.drawer_main_m {
    height: 30%;
    width: auto;
}


.logoContainer_main_m {
    overflow: hidden;
    border-radius: 100%;
    height: 125px;
    width: 125px;
    position: absolute;
    right: 4vw;
}

.logo_main_m {
    height: 125px;
    width: 125px;
    transform: scale(1.3);
}
